<h2>All Customers</h2>
<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.first_name %></td>
    <td><%= customer.last_name %></td>
    <td><%= customer.email %></td>
    <td><%= customer.points_balance %></td>
    <td><%= customer.updated_at %></td>
  </tr>
<% end %>
